* {
    font-family: "Helvetica";
}

body {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    top: 10%;
    left: 25%;
    width: 700px;
    height: 350px;
    border-radius: 15px;
    z-index: 1;
}

.getJoke {
    border-radius: 10px;
    background-color: #3dd3de;
    color: white;
    border: none;
    padding: 15px 35px 15px 35px;
    cursor: pointer;
}

.getJoke:hover {
    background-color: #0bb9c6;
    transition: 0.4s;
}

#joke {
    padding: 20px;
    height: 40px;
    text-align: center;
}

.rate-container {
    display: flex;
    flex-direction: row;
}

.rate-btn {
    border: none;
    cursor: pointer;
    padding: 20px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
}

.notshow {
    display: none;
}

#show-weather {
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#image-weather {
    border-right: 3px black solid;
    padding: 5px;
    width: 45px;
    height: 45px;
}

#temperature {
    padding: 25px 0px 0px 25px;
}
